@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";


@font-face {
  font-family: "Avenir", sans-serif;
  src: url(/fonts/Avenir.ttf) format("truetype");
}

@font-face {
  font-family: "AvenirLTStd-Book", serif;
  src: url(/fonts/AvenirLTStd-Book.otf) format("opentype");
}

@font-face {
  font-family: 'Mendl Serif Trial Dusk Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Mendl Serif Trial Dawn Regular'), url('/fonts/MendlSerif_Trial_DuskRg.woff') format('woff');
}

@font-face {
  font-family: 'Mendl Serif VF Trial Dusk SemiBold';
  font-style: normal;
  /* font-weight: 600; */
  src: local('Mendl Serif VF Trial Dusk SemiBold'), url('/fonts/MendlSerifVF_Trial_WghtStyl.woff') format('woff');
}


.avenir,
input {
  font-family: "Avenir", sans-serif;
  font-optical-sizing: auto;
}


.mendl {
  font-family: 'Mendl Serif VF Trial Dusk SemiBold', sans-serif;

  font-optical-sizing: auto;
}

.body {
  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
}


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@layer base {
  .dark {
    --background: #171717;
    --foreground: #ffffff;
  }
}

.bgclass {
  position: relative;
  z-index: 1;
}



.bgclass::before {
  content: "";
  position: absolute;
  bottom: 1%;
  right: 0;
  width: 6.75rem;
  height: 9.25rem;
  z-index: 1;
  background-image: url("/bg1.webp");
  background-size: contain;
  background-repeat: no-repeat;
}

@media (max-width: 768px) {
  .bgclass::before {
    bottom: 3%;
    right: -2%;
    width: 75.89px;
    height: 104px;
  }

}

@layer utilities {
  @theme {
    --color-primary: #00441E;
    --color-secondary: #F0D615;
    --color-ternory: #00A055;
    --color-bg: #F9F4DC;
    --color-bg1: #D0E7A2;
    --color-extra-ligth: #C3C3C3;
    --color-dark: #534E4D;
    --color-dark2: #333333;
    --color-light: #878787;
  }

  .max-width {
    max-width: 1224px;
    margin: 0 auto;
    width: 100%;

    @media (max-width: 768px) {
      padding: 0 1rem;
      max-width: 100%;
      width: 100%;
    }
  }

  .max_screen {
    max-width: 1600px;
    margin: 0 auto;
    width: 100%;
  }
}

.common .pagination .swiper-pagination-bullet,
.common .pagination_2 .swiper-pagination-bullet,
.common .pagination_3 .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--color-ternory);
  transition: width 0.3s ease-in-out, height 0.3s ease-in-out, border-radius 0.3s ease-in-out;
}

.common .pagination .swiper-pagination-bullet-active,
.common .pagination_2 .swiper-pagination-bullet-active,
.common .pagination_3 .swiper-pagination-bullet-active {
  width: 32px;
  height: 8px;
  border-radius: 8px;
  background-color: var(--color-ternory);
}