@use "tailwindcss";
@use "tailwindcss/utilities";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@layer base {
  .dark {
    --background: #171717;
    --foreground: #ffffff;
  }
}

@layer utilities {
  @theme {
    --color-primary: #00441E;
    --color-secondary: #F0D615;
    --color-ternory: #00A055;
    --color-bg: #F9F4DC;
    --color-bg1: #D0E7A2;
    --color-extra-ligth: #C3C3C3;
    --color-dark: #534E4D;
    --color-dark2: #333333;
    --color-light: #878787;   
  }
  .max-width {
    max-width: 1224px;
    margin: 0 auto;
    width: 100%;
    @media (max-width: 768px) {
      padding: 0 1rem;
      max-width: 100%;
      width: 100%;
    }
  }
  .max_screen {
    max-width: 1600px;
    margin-block: auto;
    width: 100%;
  }
}
